body {margin:0px;padding:0px;}
#topNav {z-index:2;height:50px;display:block;position:fixed;top:0px;left:0px;right:0px;margin:0px;padding:0px;background-color:#000000;color:#ffffff;}
#mainMenu1 {position:fixed;top:-2000000px;}
#mainMenu1:empty ~ ul {display:none;}
#mainMenu1:checked ~ ul {z-index:5;background-color:#000000;bottom:0px;border:1px solid #ffffff;display:block;position:fixed;right:0px;left:0px;top:50px;margin:0px;padding:0px;}
#topNav details {background-color:#000000;color:#ffffff;position:fixed;right:10px;}
#topNav details ul {z-index:3;background-color:#000000;border:1px solid #ffffff;width:100%;display:block;position:fixed;right:0px;left:0px;}
#mainContent {position:fixed;top:50px;margin:0px;left:0px;right:0px;bottom:0px;overflow:scroll;padding:0px;}
a {text-decoration:none;}
.menuLink {text-decoration:none;}
ul.menu {list-style-position:outside;list-style-type:none;}
ul.menu li {list-style-position:outside;list-style-type:none;}
